/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.blog_author_info {
  margin-bottom: 30px;
}
.blog_entry_body {
  margin: 10px 0;
}
.blog_entry_summary{
  img{
    width:100%;
  }
  margin: 10px 0;
} 
.blog_read_more,
.blog_entry_details{
  font-size: 0.8em;
  fotn-weight:bolder;
}
.blog_read_more{
  float: right;
}
ul#blog_entry_entries {
  list-style: none;
  padding: 0;
  li { margin-bottom: 20px; }
}

/* tag cloud widget */
.blog_tag_cloud { 
  margin-bottom: 10px;
  padding: 0px 10px;
  li { display: inline-block; }
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; font-weight: bold; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.8em; font-weight: bold; }
}

/* recent blog entries widget */
.recent_blog_entries { 
  margin-bottom: 10px;

  .blog_entry_date {
    font-style: italic;
    font-size: 80%;
    margin-left: 10px;
  }
}
ul.blog_categories_list,
ul.recent_blog_entries{
  list-style:none;
  padding: 0px 10px;
}

/* news archive widget */
#news-archive {
  list-style: none;
  padding: 0px 10px;
  a { font-weight: bold; }
  ul { 
    list-style: none; 
    padding: 0px 15px;
  }
  ul ul { 
    list-style: none; 
    padding: 0px 15px;

    a { font-weight: normal; }
  }
  span { cursor: pointer; }
}
